@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English&display=swap');
@import url(/styles/varaiveis.css);

main {
    background: #131D24;
}

.containner{
display: flex;
padding: 100px 240px;
justify-content: center;
align-items: center;
gap: 62px;
align-self: stretch;
}

.card {
    width: 18rem;
}

h2 {
color: #EEF4F8;
text-align: center;
font-family: IM FELL English;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.main-span{
  color: #79969C;
  text-align: center;
  font-family: IM FELL English;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

p {
    color: #586061;
text-align: center;
font-family: IM FELL English;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

