@import url(/styles/main.css);
@import url(/styles/index.css);
@import url(/styles/extra.css);
@import url(/styles/extra-2.css);
@import url(/styles/footer.css);


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {

    font-family: 'IM Fell English', serif;
}